<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home | Resturant Rating Prediction</title>
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="icon" href="" />
  </head>

  <body>
    <div class="hero">
      <video
        id="vid1"
        src="../static/pexels-roman-odintsov-5336205 (2160p).mp4"
        type="video/mp4"
        autoplay
        loop
        muted
        plays-inline
      ></video>
      <nav>
        <div class="logo">
          <a href="/" class="disabled"
            ><img src="../static/logo.png" alt="logo" class="logo-img"
          /></a>
        </div>

        <ul>
          <li><a href="/" target="_self" class="active">Home</a></li>
          <li><a href="/predictor" target="_self">Predictor</a></li>
          <li><a href="/about" target="_self">About Us</a></li>
        </ul>
      </nav>
      <div class="main">
        <div class="heading">
          <h1 id="head1">Resturant Rating</h1>
          <h1 id="head2">Prediction Tool</h1>
        </div>
        <div class="content">
          <p id="wel">Welcome USER! We are glad you Visited.</p>
          <p id="desc">
            This is a tool that will help you to get rating of a resturant. We
            have a Machine Learning Model running in the background to help you.
          </p>
        </div>
        <a href="/predictor" target="_self" id="btn1">Lets Go</a>
      </div>
    </div>
    <footer>
      <p id="end_text">created by Shrey Choudhary</p>
    </footer>
  </body>
</html>
